{% extends 'vue_utils/vue_prime_template.html' %}
{% load static %}

{% block vue_app_mainmenu %}
    <script>
        function get_main_menu() {
            return [
                {
                    label: 'File',
                    icon: 'pi pi-fw pi-file',
                }
            ]
        }
    </script>
{% endblock %}
{% block main_content %}
    <router-link to="/foo">Go to Foo</router-link>
    {% block main_content_mainmenu %}
        <p-menubar :model="main_menu_items">
            <template #start>
                <img alt="logo" src="{% static 'vue_utils/primevue/images/logo.svg' %}" height="40" class="p-mr-2">
            </template>
            <template #end>
                <p-inputtext placeholder="Search" type="text"/>
                <p-button label="Logout" icon="pi pi-power-off" :style="{'margin-left': '0 .5em'}"/>
            </template>
        </p-menubar>
    {% endblock %}
    <confirmdialog></confirmdialog>
    <toast position="top-right"></toast>
    {% block main_content_content %}
        <p-panel header="Header Panel">
            <div class="p-grid">
                <div class="p-col-4">
                    <p-inputtext v-model="test_value"></p-inputtext>
                </div>
                <div class="p-col">
                    <p-inputnumber v-model="test_value"></p-inputnumber>
                </div>
                <div class="p-col">
                    <p-button label="Submit" icon="pi pi-check" @click="delete_confirm()"/>
                </div>
            </div>
        </p-panel>
    {% endblock %}
    <router-view></router-view>
    <p-panel>
        <p-datatable dataKey="id" :value="products" :paginator="true" class="p-datatable-customers" :rows="1"
                     :loading="loading" :lazy="true" :total-records="products_count"
                     @page="onPage($event)"
                     >
            <p-column field="id" header="ID"></p-column>
            <p-column field="code_number" header="Code"></p-column>
            <p-column field="rolls_count" header="Rolls count"></p-column>
            <p-column field="rolls_processed" header="Rolls Processed"></p-column>
        </p-datatable>
    <p-paginator page-link-size="10" v-model:first="p_f" :rows="p_rp" :total-records="p_c"></p-paginator>
    </p-panel>
{% endblock %}



{% block vue_app_init %}
    <script>
        const my_app = Object.create(APP_CONFIG)
        my_app.data = function () {
            return {
                test_value: 0,
                main_menu_items: get_main_menu(),
                products: [],
                selectedCustomers: null,
                filters: null,

                products_count: 0,
                products_page: 0,
                products_peg_page: 2,
                loading: false,
                p_c:100,
                p_f:0,
                p_rp:10
            }
        }
        my_app.methods['get_index_data_json'] = function () {
            return axios.get('{% url "full_batches" %}', {
                params: {
                    page: 1,
                    per_page: 2,
                }
            }).then(res => {
                console.log(res)
                return res.data
            });
        }
        my_app.methods['get_page'] = function (page, per_page) {
            this.loading = true;
            return axios.get('{% url "full_batches" %}', {
                params: {
                    page: page + 1,
                    per_page: per_page,
                },
            }).then(res => {
                console.log(res)
                this.loading = false;
                this.products = res.data.list
                this.products_count = parseInt(res.data.count)
                this.products_page = res.data.page_number
            });
        },
        my_app.methods['onPage'] = function (event) {
            const page = event.page
            const per_page = event.rows
            this.get_page(page, per_page)
        }


        my_app.mounted = function () {
            this.get_page(0,2)
        }
    </script>
{% endblock %}